body {
    height: auto;
}

#loginModal {
  display: block;  
}
.test{
    width: 50%;
    height: 100%;
    left: 25%; /*(100%-60%)/2*/
    top: 0;
}
.w3-theme-l5 {color:#000 !important; background-color:#fff7ee !important}
.w3-theme-l4 {color:#000 !important; background-color:#ffe3c6 !important}
.w3-theme-l3 {color:#000 !important; background-color:#fec88d !important}
.w3-theme-l2 {color:#000 !important; background-color:#feac54 !important}
.w3-theme-l1 {color:#fff !important; background-color:#fe911c !important}
.w3-theme-d1 {color:#fff !important; background-color:#c96801 !important}
.w3-theme-d2 {color:#fff !important; background-color:#b35d01 !important}
.w3-theme-d3 {color:#fff !important; background-color:#9c5101 !important}
.w3-theme-d4 {color:#fff !important; background-color:#864601 !important}
.w3-theme-d5 {color:#fff !important; background-color:#703a01 !important}

.w3-theme-light {color:#000 !important; background-color:#fff7ee !important}
.w3-theme-dark {color:#fff !important; background-color:#703a01 !important}
.w3-theme-action {color:#fff !important; background-color:#703a01 !important}

.w3-theme {color:#fff !important; background-color:#df7401 !important}
.w3-text-theme {color:#df7401 !important}
.w3-border-theme {border-color:#df7401 !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#df7401 !important}
.w3-hover-text-theme {color:#df7401 !important}
.w3-hover-border-theme:hover {border-color:#df7401 !important}

.w3-theme-gradient {
  color: #000 !important;
  background:-webkit-linear-gradient(top,#9fabba 25%,#f4f5f3 75%)}
.w3-theme-gradient {
  color: #000 !important;
  background:-moz-linear-gradient(top,#9fabba 25%,#f4f5f3 75%)}
.w3-theme-gradient {
  color: #000 !important;
  background:-o-linear-gradient(top,#9fabba 25%,#f4f5f3 75%)}
.w3-theme-gradient {
  color: #000 !important;
  background:-ms-linear-gradient(top,#9fabba 25%,#f4f5f3 75%)}
.w3-theme-gradient {
  color: #000 !important;
  background: linear-gradient(top,#9fabba 25%,#f4f5f3 75%)}

#mainHeader {
    background: linear-gradient(to right, #1e9155 0%, #1E9115 100%)
}

#menu {
    background-image: url("../img/fondo_barra_izq.png");
}

#menuGroup {
    background-image: url("../img/fondo_barra_izq.png");
}

#addUserModal, #loginModal, #addRoleModal, #confirmDelete {
    z-index: 5;
    background-color: rgba(0,0,0,0.7);
}

#confirmDeleteContent {
    max-width: 500px;
}

.w3-theme-gradient1 {
  color: #000 !important;
  background:-webkit-linear-gradient(top,#64B5F6 25%,#42A5F5 75%)}
.w3-theme-gradient1 {
  color: #000 !important;
  background:-moz-linear-gradient(top,#64B5F6 25%,#42A5F5 75%)}
.w3-theme-gradient1 {
  color: #000 !important;
  background:-o-linear-gradient(top,#64B5F6 25%,#42A5F5 75%)}
.w3-theme-gradient1 {
  color: #000 !important;
  background:-ms-linear-gradient(top,#64B5F6 25%,#42A5F5 75%)}
.w3-theme-gradient1 {
  color: #000 !important;
  background: linear-gradient(top,#64B5F6 25%,#42A5F5 75%)}

.userRemoteContainer {
    max-height: 250px;
    overflow-y: scroll;
}

#errorMessage {
    z-index: 10;
}

#poweredImage {
    max-width: 100px;
}

#headerLogo {
    max-width: 100px;
}

#modalShow {    
    background: linear-gradient(to bottom, #1e9155 0%, #1E9115 100%)
}

.vertical-center {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.table-header {
    background: grey;
}

table.dataTable thead th, table.dataTable tbody td  {
    padding: 0;
}

.bottom-menu-item {
    bottom: 0;
    position: absolute;
    width: 100%;
}

md-tabs .md-tab.md-active {
    color: black;
}

md-tabs .md-tab .md-ripple-container {
    color: orange;
}

md-tabs md-ink-bar {
    background-color: orange;
}
input.ng-invalid.ng-touched {
    border-color: #FA787E;
  }
.messages {
    color: #FA787E;
}

.active {
    background-color: black;
}

.menu_split {
    width: 100%;
    display: block;
    border-top: 1px green solid;
}

a.dt-button {
    margin-left: 5px !important;
    color: #fff !important;
    background-color: #4CAF50 !important;
    border-color: #ccc !important;
    display: inline-block !important;
    padding: 6px 12px !important;
    margin-bottom: 5px !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 1.42857143 !important;
    text-align: center !important;
    white-space: nowrap !important;
    vertical-align: middle !important;
    -ms-touch-action: manipulation !important;
    touch-action: manipulation !important;
    cursor: pointer !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    background-image: none !important;
    border: 1px solid transparent !important;
    border-radius: 4px !important;
}

.col {
    display: table-cell;
    float: none !important;
}

.control-label{
    text-align: left !important;
}